<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Movieholic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel = "icon" href = {{ url_for( 'static',filename="Image/icon.svg" )}} type = "image/x-icon">
        <link href='https://fonts.googleapis.com/css?family=Poppins:wght@400;700&display=swap' rel='stylesheet'>
    <link rel="stylesheet" href={{ url_for( 'static',filename="VideoPage/VideoPageCSS.css")}}>
</head>

<body  background={{ url_for( 'static', filename="Image/background.svg" ) }}>
    <div class="video-page">
        <div class="video-page-header">
                
            <div class="video-description">
                <div class="header-left">
                    <img src={{contents['moviePosterPath']}}>
                </div>
                <div class="header-right">
                    <h1>{{contents['movieTitle']}}</h1>
                    <h2>{{contents['movieReleaseDate'][0:4]}}<span>{{contents['movieRuntime']}} min</span></h2>
                    <p>{{contents['movieOverview']}}</p>
                    <div class="rating">{{contents['movieVote']}}</div>
                    <div class='info'>
                        <h4>Director:</h4>
                        <h5>{{contents['movieCreditDirectorData']['originalName']}}</h5>
                    </div>
                    <div class='info'>
                        <h4>Starring: </h4>
                        {% set vars = namespace(actorName= ' ') %}
                        {% for val in contents['movieCreditActorData']%}
                        {% set vars.actorName = vars.actorName ~ val['originalName'] ~ ', '%}
                        
                        {%endfor%}
                        <h5>{{vars.actorName[0:-2]}}</h5>
                        
                    </div>
                    <div class='info'>
                        <h4>Genres:</h4>
                        {% set vars = namespace(genres= ' ') %}
                        {% for val in contents['movieGenres']%}
                        {% set vars.genres = vars.genres ~ val ~ ', '%}
                        
                        {%endfor%}
                        <h5>{{vars.genres[0:-2]}}</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="streaming-container" >
            {% if contents['movieTrailerPath'] != '/'%}
            <iframe width="1000" height="556" src="{{contents['movieTrailerPath']}}?rel=0&amp;controls=0&amp;showinfo=0&amp;modestbranding=1" title="Movieholic" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            {%else%}
            {%if contents['movieClipPath'] != '/'%}
            <iframe width="1000" height="556" src="{{contents['movieClipPath']}}?rel=0&amp;controls=0&amp;showinfo=0&amp;modestbranding=1" title="Movieholic" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
            {%else%}
            {% if contents['movieTeaserPath'] != '/' %}
            <iframe width="1000" height="556" src="{{contents['movieTeaserPath']}}?rel=0&amp;controls=0&amp;showinfo=0&amp;modestbranding=1" title="Movieholic" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
            {%endif%}
            {%endif%}
            {%endif%}
        </div>
        <section class="main-container">
            <div class="location" id="home">
                <h1 id="popular">Starring</h1>
                <div class="box">
                    <a href={{ url_for('credit.credit_page', tmdbId = contents['tmdbId'], creditId= contents['movieCreditDirectorData']['Id']) }} ><img src={{contents['movieCreditDirectorData']['profilePath']}} >
                        <span class ="details1">{{contents['movieCreditDirectorData']['originalName']}} </span>
                        <span class ="details2">{{contents['movieCreditDirectorData']['department']}}</span></a>
                    
                    {%for val in contents['movieCreditActorData'] %}
                    <a href= {{ url_for('credit.credit_page', tmdbId = contents['tmdbId'], creditId = val['Id'] ) }} ><img src={{val['profilePath']}}> 
                        <span class ="details1">{{val['originalName']}} </span>
                        <span class ="details2">{{val['characterName']}}</span>
                    </a>
                    {%endfor%}
                </div>
            </div>
            <div class="location" id="home">
                <h1 id="popular">Similar Movies</h1>
                <div class="box">
                    {%for val in similar %}
                    <a href={{ url_for('video.video_page', tmdbId = val['tmdbId']) }} ><img src={{val['moviePosterPath']}} ></a>
                    {%endfor%}
                </div>
            </div>
        </section>
        <style>
            .video-page .video-page-header:before {
                content: "";
                background: url({{contents['movieBgDropPath']}});
                background-size: cover;
                background-position: center;
                position: absolute;
                top: 0;
                height: 98%;
                filter: blur(8px);
                width: 100%;
                z-index: -1;
            }
            
        </style>
        
    </div>
    <div class="link">
                
        <div class="sub-links">
            <ul>
                <li><a target="_blank" href="https://medium.com/@imashwins/end-to-end-movie-recommendation-system-python-flask-web-application-azure-deployment-318a59958f1f">How it works</a></li>
                <li><a target="_blank" href="https://github.com/MrR0b0t-23/Movieholic">Github source code</a></li>
                <li><a target="_blank" href="https://github.com/MrR0b0t-23/Movieholic/blob/main/LICENSE">License</a></li>
            </ul>
        </div>
        <div class="logos">
            <ul>
              <a target="_blank"  href="https://www.linkedin.com/in/ashwin-senthilkumar">
                <img src={{ url_for( 'static', filename="Image/web.svg" ) }} alt="Logo Image"></a>
              <a target="_blank"  href="https://www.linkedin.com/in/ashwin-senthilkumar">
                <img src={{ url_for( 'static', filename="Image/linkedin.svg" ) }} alt="Logo Image"></a>
              <a target="_blank"  href="https://github.com/MrR0b0t-23">
                <img src={{ url_for( 'static', filename="Image/github.svg" ) }} alt="Logo Image"></a>
                <a target="_blank"  href="https://medium.com/@imashwins">
                <img src={{ url_for( 'static', filename="Image/medium.svg" ) }} alt="Logo Image"></a>
              <a target="_blank"  href="https://www.instagram.com/_morpheus23_/?igshid=17qo93qn4t6rb">
                  <img src={{ url_for( 'static', filename="Image/instagram.svg" ) }} alt="Logo Image"></a>
        </ul>
        </div>
      </div>
      <footer>
        <p>Copyrights &copy 2021 Movieholic IN, Inc. All rights reserved. </p>
        <p>Designed and Developed by Ashwin </p> 
    </footer>
</body>

</html>