<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Movieholic</title>
    <link rel="stylesheet" href={{ url_for( 'static',filename="LoginPage/LoginPageCSS.css" )}} />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel = "icon" href = {{ url_for( 'static',filename="Image/icon.svg" )}} type = "image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <style>
        #pageloader
        {
          display: none;
          height: 100%;
          background-color: #222831;
          width: 100%;
          margin: -10px;
        }
        #pageloader img
        {
          left: 42%;
          top: 25%;
          position: absolute;
        }
        #pageloader label
        {
          padding: 20px;
          left: 40%;
          color:#eeeeee;
          top: 45%;
          font-family: 'poppins';
          font-weight: bolder;
          font-size: 18px;
          position: absolute;
        }
    </style>
</head>

<body background={{ url_for( 'static', filename="Image/background.svg" ) }}>

    <div id="pageloader">
        <img src= {{ url_for( 'static', filename="Image/loaderGIF.svg" ) }}>
        <label>Fetching User Data...</label>
     </div>
     <div class = "image">
     <img src={{ url_for( 'static', filename="Image/logo.png" ) }} alt="Logo Image">
    </div>
    <section>

        <form id ="myform" action="" method="POST">
          
          <select name="userId" id="userId" class="custom-select sources" placeholder="Select UserId">
          {% for id in users%}
            <option value= {{id}} selected>{{id}}</option>
          {%endfor%}
          <input class="submit" type="submit" value="Login">
        </form>
    </section>

    <div class="link">
                
      <div class="sub-links">
          <ul>
              <li><a target="_blank" href="https://medium.com/@imashwins/end-to-end-movie-recommendation-system-python-flask-web-application-azure-deployment-318a59958f1f">How it works</a></li>
              <li><a target="_blank" href="https://github.com/MrR0b0t-23/Movieholic">Github source code</a></li>
              <li><a target="_blank" href="https://github.com/MrR0b0t-23/Movieholic/blob/main/LICENSE">License</a></li>
          </ul>
      </div>
      <div class="logos">
          <ul>
            <a target="_blank"  href="https://www.linkedin.com/in/ashwin-senthilkumar">
              <img src={{ url_for( 'static', filename="Image/web.svg" ) }} alt="Logo Image"></a>
            <a target="_blank"  href="https://www.linkedin.com/in/ashwin-senthilkumar">
              <img src={{ url_for( 'static', filename="Image/linkedin.svg" ) }} alt="Logo Image"></a>
            <a target="_blank"  href="https://github.com/MrR0b0t-23">
              <img src={{ url_for( 'static', filename="Image/github.svg" ) }} alt="Logo Image"></a>
              <a target="_blank"  href="https://medium.com/@imashwins">
              <img src={{ url_for( 'static', filename="Image/medium.svg" ) }} alt="Logo Image"></a>
            <a target="_blank"  href="https://www.instagram.com/_morpheus23_/?igshid=17qo93qn4t6rb">
                <img src={{ url_for( 'static', filename="Image/instagram.svg" ) }} alt="Logo Image"></a>
      </ul>
      </div>
    </div>
    <footer>
      <p>Copyrights &copy 2021 Movieholic IN, Inc. All rights reserved. </p>
      <p>Designed and Developed by Ashwin </p> 
  </footer>
    <script>
        $(document).ready(function(){
            $("#myform").on("submit", function(){
              $("#pageloader").fadeIn();
            });//submit
          });//document ready
    </script>    
    <script src={{ url_for( 'static',filename="LoginPage/LoginPageJS.js" ) }}></script>
</body>

</html>